.main{
    flex: 1 1 60%;
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    position: relative;
}
@media(max-width:682px){
    .main{
        width: 100%;
    flex: 1 1 100%;
    }
}