.main{
    display: flex;
    flex-direction: column;
    text-align: left;
}
.heading{
    font-family: 'Open Sans';
    font-weight: 700;
    font-size: 25px;
    color: black;
    margin: 0px 0px 30px 0px;
}
.block{
    display: flex;

}