p{
    margin: 0px 0px 0px 0px;
}

.main{
    padding: 15px;
    display: flex;
    font-family: 'Montserrat';
    font-size: 15px;
    text-decoration: none;
    color: black;
    position: relative;
    box-sizing: border-box;
}
.main:hover{
    cursor: pointer;
    box-shadow: 0 0 10px #0000001a;
    transition: all 0.9s;
}
/* .main::after{
    content: '';
    width: 95%;
    border-bottom: 1px solid grey;
    position: absolute;
    top: 0px;
    left: 15px;
} */
.img{
    width: 200px;
    height: 200px;
    object-fit: cover;
    margin-right: 15px;
}
.about{
    display: flex;
    flex-direction: column;
}
.name{
    font-weight: 700;
    font-size: 20px;
    text-align: left;
    margin: 0px 0px 0px 0px;
    margin-bottom: 5px;
}
.rating{
    display: flex;
    margin-bottom: 5px;
    font-weight: 700;
}
.stars{
    display: flex;
    align-items: center;
    margin-right:5px
}
.star{
    margin-left: 5px;
}
.reviewsNumber{
    font-weight: 500;
}
.info{
    display: flex;
    color: grey;
    font-weight: 500;
    margin-bottom: 5px;
    max-width: 21.875rem;
    text-align: left;
}
.address{
    margin-right: 5px;
}
.time{
    display: flex;
    margin-bottom: 5px;
}
.isOpen{
    margin-right: 5px;
    color: green;
}
.food{
    display: flex;
    max-width: 21.875rem;
    margin-bottom: 5px;
    align-items: center;
}
.foodIcon{
    width: 15px;
    height: 15px;
    margin-right: 5px;
    align-self: flex-start;
}
.foodText{
    color: grey;
    text-align: left;
}
.more{
    background-color: transparent;
    border: none;
    outline: none;
    color: rgb(9, 9, 70);
    cursor: pointer;
    font-size: 17px;
}
.more:hover{
    text-decoration: underline;
    transition: all .2s;
}
.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.features{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.link{
    justify-self: flex-end;
    color: black;
    text-decoration: none;
    border: 1px solid grey;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
}
.link:hover{
    background-color: #f7c3d1;
    transition: all .2s;
}
.phone{
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}
.phoneIcon{
    width: 15px;
    height: 15px;
    margin-right: 5px;
}
.phoneText{
    font-size: 15px;
    color:grey;
}
@media(max-width:950px){
    .main{
        padding: 10px;
    }
    .food{
        max-width: 17rem;
    }
    .info{
        max-width: 17rem;
    }
    .footer{
        flex-direction: column;
        align-items: flex-start;
    }
    .features{
        margin-bottom: 5px;
    }
    .img{
        height: 230px;
    }
}
@media(max-width:820px){
    .food{
        max-width: 15rem;
    }
    .info{
        max-width: 15rem;
    }
    .img{
        height: 250px;
    }
}
@media(max-width:682px){
    .food{
        max-width: 100%;
        width: 100%;
    }
    .info{
        max-width: 100%;
        width: 100%;
    }
    .img{
        height: 200px;
        display: flex;
        width: 30%;
    }
    .main{
        min-width: 100%;
        flex: 1 1 100%;
        padding: 5px;
        margin-bottom: 20px;
    }
    .about{
        flex: 0 1 65%;
    }
    .footer{
        flex-direction: row;
        align-items: center;
    }
    .features{
        margin-bottom: 0px;
    }
}
@media(max-width:600px){
    .footer{
        flex-direction: column;
        align-items: flex-start;
    }
    .features{
        margin-bottom: 5px;
    }
    .img{
        width: 130px;
        height: 130px;
    }
}
@media(max-width:400px){
    .features{
        flex-direction: column;
        align-items: flex-start;
    }
}
@media(max-width:300px){
    .img{
        width: 90px;
        height: 90px;
    }
}