.main{
    display: flex;
    justify-content: start;
    margin-bottom: 20px;
}
.mainInfo{
    position: absolute;
    bottom:30%;
    left: 100px;
    z-index: 900;
    color: white;
    text-align: left;
    font-family: 'Open Sans';
}
.name{
    font-weight: bold;
    font-size: 3rem;
    margin: 0px 0px 0px 0px;
}
.rating{
    display: flex;
    font-weight: normal;
    font-size: 2rem;
}
.stars{
    display: flex;
    align-items: center;
    font-weight: normal;
    font-size: 2rem;
}
.reviews{
    margin: 0px 0px 0px 0px;
    font-weight: normal;
    font-size: 2rem;
}
.star{
    object-fit: cover;
    width: 20px;
    height: 20px;
    margin-left: 10px;
    margin-right: 10px;
}
.block{
    display: flex;
    font-weight: normal;
    font-size: 2rem;
}
.closed{
    color: rgb(179, 54, 54);
    margin-right: 10px;
}
.opened{
    color: rgba(4,197,133,1);
    margin-right: 10px;
}
.closed::after,
.opened::after{
    content: '';
    width: 2px;
    border-radius: 50%;
    background-color: white;
}
.categories{
    font-weight: normal;
    font-size: 2rem;
    margin: 0px 0px 0px 0px;
}