.heading{
    text-align: left;
    font-family: 'Open Sans';
    font-weight: 700;
    font-size: 25px;
    color: black;
}
.main{
    margin-top: 70px;
}
@media(max-width:400px){
    .main{
        margin-top: 35px;
    }
}