.main{
    position: sticky;
    top: 110px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    border: 1px solid rgb(219, 216, 216);
    border-radius: 10px;
    height: 100%;
    margin-left: 20px;
    width:100%;
    max-width: 400px;
}
.block{
    font-family: 'Open sans';
    font-size: 20px;
    font-weight: normal;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.block:not(:last-child){
    margin-bottom: 30px;
}
.block:not(:last-child)::after{
    content: '';
    width: 100%;
    border-bottom: 1px solid grey;
    opacity: .5;
    position: absolute;
    bottom: -15px;
    left: 0;
}
.link{
    text-decoration: none;
    color:cadetblue;
}
.heading{
    display: none;
}
@media(max-width:1100px){
    .main{
      margin-left: 0px;
      max-width: 700px;
      margin-bottom: 30px;
    }
    .heading{
        display: block;
        text-align: left;
    font-family: 'Open Sans';
    font-weight: 700;
    font-size: 25px;
    color: black;
    margin: 70px 0px 30px 0px
    }
    .main::before{
            content: '';
            position: absolute;
            top: -105px;
            left: 0px;
            width: 100%;
            border-top: 1px solid grey;
            opacity: .5;
        }
  }
  @media(max-width:820px){
    .main{
        max-width: 95%;
    }
}
@media(max-width:400px){
    .main::before{
        top: -85px;
    }
    .heading{
        margin-top: 30px;
    }
    .block{
        font-size: 17px;
    }
}