.main{
display: flex;
flex: 1 1 40%;
height: 85.5vh;
position:sticky;
top: 0px;
right: 0px;
}
@media(max-width:820px){
    .main{
    height: 91.5vh;
    }
}
@media(max-width:682px){
    .main{
   display: none;
    }
}