.main{
    margin-left:20px;
    display: flex;
    font-family: 'Open sans';
    font-size: 18px;
    font-weight: bold;
}
.day{
    margin-right: 30px;
}
.isOpen,
.isClosed{
    font-size: 18px;
    font-weight: normal;
    margin-left: 5px;
}
.isOpen{
    color: rgba(4,197,133,1);
}
.isClosed{
    color:rgb(179, 54, 54);
}